<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.scheduled" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="{$hibernate.connection.driver_class}"></property>
		<property name="url" value="{$hibernate.connection.url}"></property>
		<property name="username" value="{$hibernate.connection.username}"></property>
		<property name="password" value="{$hibernate.connection.password}"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.AnnotatedSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="465" />
		<property name="protocol" value="smtps" />
		<!-- Add your email id here -->
		<property name="username" value="" />
		<!-- Add your password here -->
		<property name="password" value="" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtps.auth">true</prop>
				<prop key="mail.smtps.starttls.enable">true</prop>
				<prop key="mail.smtps.debug">true</prop>
			</props>
		</property>
	</bean>

	<bean name="emailService" class="com.scheduled.service.EmailService">
		<property name="mailSender" ref="mailSender" />
		<property name="velocityEngine" ref="velocityEngine" />
	</bean>


	<!-- For times when you need more complex processing, passing data to the 
		scheduled job -->
	<bean name="complexJobDetail"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.scheduled.job.BirthdayJob" />
		<property name="jobDataMap">
			<map>
				<entry key="emailService" value-ref="emailService" />
			</map>
		</property>
		<property name="durability" value="true" />
	</bean>

	<!-- Run the job midnight every day -->
	<bean id="cronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="complexJobDetail" />
		<property name="cronExpression" value="0 0 0 * * ?" />
	</bean>

	<!-- Scheduler factory bean to glue together jobDetails and triggers to 
		Configure Quartz Scheduler -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<ref bean="complexJobDetail" />
		</property>
		<property name="triggers">
			<ref bean="cronTrigger" />
		</property>
	</bean>

	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<props>
				<prop key="resource.loader">class</prop>
				<prop key="class.resource.loader.class">
					org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
				</prop>
			</props>
		</property>
	</bean>

</beans>
